<div class="left-sidebar">
	<h2>Đề cử đặc biệt</h2>
	<vc:danh-muc-san-pham></vc:danh-muc-san-pham><!--danhmucsanpham-->

	<div class="shipping text-center">
		<!--shipping-->
		<img src="images/home/shipping.jpg" alt="" />
	</div><!--/shipping-->

</div>